.header {
    width: 100%;
    height: 100px;
}

.content {
    position:relative;
    height: 800px;
}
.favorites-content-description h1 {
    color:blue;
}

.favorites-content-description h1 ul {
    position: relative;
    right: 1750px;
}
.favorites-content-description ul li {
    display: inline;
}
.favorites-content-description ul li a {
    text-decoration: none;

}

#empty-cart {
    position: relative;
    left:250px;
}
