*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "poppins", serif;
}
.logo {
    width:140px ;
}
.header {
    height: 100vh;
    width: 100%;
    padding: 2% 8%;
    background: black;
    position: relative;
}

.home-header {
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 2% 8%;
    background: transparent;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    padding: 28px 0;
}
.nav-links li {
    display: inline-block;
    font-size:35px;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn {
    background: red;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
    cursor:pointer;
}
.content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color:white;
}
.content h1 {
    font-size: 65px;
    font-weight: 500;
    padding:40px;
}
.content form {
    background: white;
    padding: 12px;
    border-radius:15px;
    display: flex;
}
.content form input {
    flex:1;
    border:none;
    outline: none;
    font-size: 35px;
}
.content form button {
    background: red;
    color:white;
    border:none;
    border-radius:12px;
    padding: 20px 50px;
    cursor: pointer;
    font-size: 25px;
}
.video {
    position:absolute;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index:-100;
}
@media(min-aspect-ratio: 16/9) {
    .video {
        width:100%;
        height: auto;
    }
}
@media(min-aspect-ratio: 16/9) {
    .video {
        width:auto;
        height: 100%;
    }
}
footer {
    text-align: right;
    color:white;
    background: orange;
    display:block;
}

.contact {
    color:white;
    position:absolute;
    top:25%;
    left:40%;
}
input[type=text] {
    width: 100%;
}

.nav-dropdown-links{
    display: none;
    position: absolute;
}

.nav-dropdown:hover .nav-dropdown-main-link{
    color: red;
}

.nav-dropdown:hover .nav-dropdown-links{
    display: flex;
    flex-direction: column;
}
.products-content {
    padding: 50px;
    text-align: center;
    background-color: purple;
    color: white;
}
.fa {
    color:white;
    display: flex;
    width: 10px;
}
#daily-offer {
    text-align: center;
    position: relative;
    top: -350px;
}

#play-btn {
    background: transparent;
    width: 38px;
    height: 38px;
    border-color: red;
}
.favorites-content {
    height:500px;
    background: blue;
    margin-left:20%;
    margin-right: 20%;
    /*position: absolute;*/
}

.favorites-content h1 {
    color:white;
}
.menu-content-fav {
    width: 200px;
    height: 300px;
    margin-left:5%;
    background: yellow;
    position:absolute;
}




