body {
    background: grey;
}
.contact-wrap {
    max-width: 1100px;
    background: white;
    border-radius: 10px;
    padding: 50px;
    margin:25px 15px;
    position:relative;
}
.contact-form-title {
    color:black;
}
.label-input {
    font-size:15px;
    color: #999999;
    line-height: 1.5;
    padding-left: 5px;
}
.input {
    display: block;
    width: 100%;
    border:none;
    border-bottom: 2px solid #ccc;
    background: none;
    outline: none;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 5px;
    height: 40px;
    font-weight: bold;
}
.textarea-input {
    border:none;
    border-bottom: 1px solid #ccc;
    background: none;
    outline: none;
    line-height: 1.2;
    font-weight: bold;
    font-size: 18px;
    height:167px;
}
.button-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: rgb(18, 117, 216);
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    box-shadow: 0 10px 30px 0px rgb(18 117 216 / 50%);
}
