header {
    width: 100%;
    height: 100px;
    color:white;
    text-align: center;
}
html , body {
    min-height: 100%;
    background: transparent;
    background-size:cover;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    margin:0;
    padding: 0;
}
main {
    position:relative;
    height: 800px;
}
main h1 {
    color:black;
    position:relative;
    left:40%;
}
.contact-us {
    background-color: wheat;
    width:80%;
    margin:auto;
    height:720px ;
}
.contact-us-form {
    display:block;
    background-color: orange;
    width:700px;
    margin:auto;
}