.main-favorites {
    background-color: #f2f2f7;
}

.menu-user-header {
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
}
.menu-user-content {
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
}
.no-favorites-photo img {
    max-width: 40%;
    height: auto;
}

