footer {
    background-color:rgb(17,17,17);
}
footer h3 {
    color:rgb(245, 246, 243);
    padding:25px 0;
}
footer p {
    color: rgb(153,153,153);
}

.social-links li {
    list-style: none;
}
.social-links li a {
    display: flex;
    width:30px;
    height: 30px;
    /*background-color: #222;*/
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
    border-radius:5px;
}
.social-links li a:hover {
    background-color: blue;
}
.social-links li a .fa{
    color: white;
    font-size: 20px;
}

.contact-section {
    padding: 15px;
    overflow-wrap: anywhere;
}
.contact-info {
    padding-left:0;
}
.contact-info li {
    list-style:none;
}
.contact-info li i {
    color: white;
}
.contact-info li a{
    color:rgb(153,153,153);
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: 10px;
}
.contact-info li a:hover {
    color:white;
}
.subscribe-button {
    background: #262c37;
    padding:8px 21px;
    text-transform: uppercase;
    color:rgba(255,255,255,0.4);
    text-decoration: none;
    font-weight: 600;
    font-size:15px;
    letter-spacing: 2px;
    transition: 0.5s;
}
.subscribe-button:hover {
    color:rgba(255,255,255,1);
}
.subscribe-button span {
    display:block;
    position:absolute;
    background: #2894ff;
}
.subscribe-button span:nth-child(1) {
    left:0;
    bottom:0;
    width:2px;
    height:100%;
    transform:scaleY(0);
    transform-origin:top;
    transition: transform 0.5s;
}
.subscribe-button:hover span:nth-child(1) {
    transform:scaleY(1);
    transform-origin:bottom;
    transition:transform 0.5s;
}
.subscribe-button span:nth-child(2) {
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    transform:scaleX(0);
    transform-origin:right;
    transition: transform 0.5s;
}
.subscribe-button:hover span:nth-child(2) {
    transform:scaleX(1);
    transform-origin:left;
    transition:transform 0.5s;
}
.subscribe-button span:nth-child(3) {
    right:0;
    bottom:0;
    width:2px;
    height:100%;
    transform:scaleY(0);
    transform-origin:top;
    transition: transform 0.5s;
    transition-delay:0.5s;
}
.subscribe-button:hover span:nth-child(3) {
    transform:scaleY(1);
    transform-origin:bottom;
    transition:transform 0.5s;
    transition-delay:0.5s;
}

.subscribe-button span:nth-child(4) {
    left:0;
    top:0;
    width:100%;
    height:2px;
    transform:scaleX(0);
    transform-origin:right;
    transition: transform 0.5s;
    transition-delay:0.5s;
}
.subscribe-button:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay:0.5s;
}
