footer {
    background-color:rgb(17,17,17);
}
footer h3 {
    color:rgb(245, 246, 243);
    padding:25px 0;
}
footer p {
    color: rgb(153,153,153);
}

.social-links li {
    list-style: none;
}
.social-links li a {
    display: flex;
    width:30px;
    height: 30px;
    /*background-color: #222;*/
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
    border-radius:5px;
}
.social-links li a:hover {
    background-color: blue;
}
.social-links li a .fa{
    color: white;
    font-size: 20px;
}

.contact-section {
    padding: 15px;
    overflow-wrap: anywhere;
}
.contact-info {
    padding-left:0;
}
.contact-info li {
    list-style:none;
}
.contact-info li i {
    color: white;
}
.contact-info li a{
    color:rgb(153,153,153);
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: 10px;
}
.contact-info li a:hover {
    color:white;
}

