footer {
    width: 100%;
    background: black;
}
footer p {
    display: inline-block;
    color:white;
}
.footer-main {
    display:flex;
    width:80%;
    margin:auto;
    align-items: center;
    justify-content: space-around;
}