.py-6 {
    padding: 7% 0;
}

.fa-star {
    color: orange;
}
.col-mb-6 {
    margin-bottom:1.5rem;
}
.w-45 {
    width:45%;
}
.fw-500{
    font-weight:500;
}
.bor-sha {
    border-bottom: 1px solid black;
}
.px-py-88 {
    padding-left:8%;
    padding-right: 8%;
}
.pb-40 {
    padding-bottom:40px;
}
.mt-40 {
    margin-top:40px;
}
.mt-56 {
    margin-top:56px;
}