header {
    width: 100%;
    height: 100px;
}
header h1 {
    text-align: center;
    color:white;
}

main {
    width:100%;
    height: 800px;
}
.container {
    width: 1200px;
    margin: auto;
}

.product-search-container  {
    background: grey;
    margin:auto;
}
.product-search-container h2 {
    color:white;
    margin:auto;
}
.product-search-container input {
    margin:auto;
}
.product-search-container button {
    margin:auto;
}
.social-items-container {
    position:absolute;
    background: wheat;
    height: fit-content;
}
.social-items-links  {
    list-style: none;
}

.social-items-links li a {
    color:grey;
    cursor:pointer;
}

.social-items-links li a:hover {
    color:white;
}
.product-results-container {
    height:400px;
    width: 1200px;
    background: grey;
    margin:auto;
}
.product-results-container h3 {
    color:white;
}
.product-results-container table {
    color:white;
}
.app-container-badges h4 {
    background: white;
}
.app-container-badges {
    width: fit-content;
    margin:auto;
}



