header {
    display:flex;
    width: 100%;
    margin-top:50px;
    background: rgb(62,142,152);
    background: linear-gradient(90deg, rgba(62,142,152,1) 18%, rgba(67,203,162,1) 67%, rgba(128,234,255,1) 100%);
    min-height: 50vh;
}

header h1 {
    text-align: center;
    color:black;
}
html , body {
    font-family: Avalon, Arial, serif;
}
body {
    margin:0;
    padding: 0;
}
main {
    width:100%;
    height: fit-content;
}

.search {
    display:flex;
    align-items: center;
    justify-content: center;
    /*border:3px solid greenyellow;*/
}
.product-search h2 {
    color:black;
    text-align: center;
}
.position-relative{
    position: relative;
    padding: 8px 32px 8px 12px;
}

.input-box {
    font-size: 22px;
    width: 100%;
    background: #f5f8fa;
    color: blue;
    height: 22px;
    border: 1px solid #e6ecf0;
    border-radius: 50px;
    outline: none;
    padding: 8px 32px 8px 12px;

}
.input-box:focus {
    transition: border .2s linear;
    border: 3px solid deepskyblue;
}

.submit-button {
    background-color: transparent;
    position: absolute;
    font-size: 22px;
    color: blueviolet;
    border:none;
    right: 0;
    top:50%;
    transform:translateY(-50%);
}
/*.social-items-container {*/
/*    position:absolute;*/
/*    height: fit-content;*/
/*}*/
/*.social-items-links  {*/
/*    list-style: none;*/
/*}*/

/*.social-items-links li a {*/
/*    color:grey;*/
/*    cursor:pointer;*/
/*}*/

/*.social-items-links li a:hover {*/
/*    color:white;*/
/*}*/
.results h3 {
    text-align: center;
}

.results-container {
    display:grid;
    border:2px solid red;
    /*width:100%;*/
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    padding: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}
.card {
    height: auto;
    width: 100%;
    padding-top:20px;
    text-align: center;
    border:1px solid black;
    border-radius:5px;
    background-color: #f2f2f7;
    position: relative;
    margin:auto;
}

.card-info img {
    max-width:220px;
    height:auto;
    border-radius:10%;
}
.card-title a {
    text-decoration: none;
}
.card-price {
    color:blue;
}
.card-toolbox {
    position:absolute;
    right:0;
}


.subscribe {
    display:flex;
    border:2px solid red;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 50px auto;
}
.subscribe h5 {
    color:black;
}

.card-badge-box {
    position:absolute;
    color:black;
    font-weight: bold;
    background-color: yellow;
    top:0;
    border:5px solid yellow;
    border-radius: 5px;
}
.grid {
    width:80%;
    display: grid;
    margin-left:auto;
    margin-right:auto;
    padding: 15px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}
.grid .col {
    padding: 3%;
}
.col-1-content {
    padding:25px;
}

.col-1-content h1 {
    display:flex;
    color:white;
    font-size:22px;
    margin-left: 3%;
}
.fa-check {
    color:greenyellow;
    margin-right: 5px;
}
.col-1-content-list {
    list-style-type: none;
    margin-top:80px;

}
.col-1-content-list li {
    color:white;
    margin-bottom: 10px;
}
.col-2-content {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-2-content img {
    width:80%;
    height: auto;
    max-width: 250px;
}

@media screen and (max-width: 576px) {
    header {
        margin-top:145px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
        width:100%;
    }
    .col-1-content {
        padding:0;
    }
    .col-1-content h1 {
        font-size: 22px;
    }
    .col-1-content-list {
        width:100%;
        padding:0;
        margin-top: 40px;
        font-size: 14px;
    }
    .results-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    }
    .card {
        margin-right: 5px;
        margin-bottom: 5px;
        width: fit-content
    }
    .search {
        width: 70%;
        margin: auto;
    }
}

