header {
    display:flex;
    width: 100%;
    margin-top:50px;
    background: rgb(62,142,152);
    background: linear-gradient(90deg, rgba(62,142,152,1) 18%, rgba(67,203,162,1) 67%, rgba(128,234,255,1) 100%);
    min-height: 50vh;
}

header h1 {
    text-align: center;
    color:black;
}
html {
    font-family: Avalon, Arial, serif;
}
body {
    margin:0;
    padding: 0;
}
main {
    width:100%;
    height: fit-content;
}

.search {
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-search h2 {
    color:black;
    text-align: center;
}
.position-relative{
    position: relative;
    padding: 8px 32px 8px 12px;
}

.input-box {
    font-size: 22px;
    width: 100%;
    background: #f5f8fa;
    color: blue;
    height: 22px;
    border: 1px solid #e6ecf0;
    border-radius: 50px;
    outline: none;
    padding: 8px 32px 8px 12px;

}
.input-box:focus {
    transition: border .2s linear;
    border: 3px solid deepskyblue;
}

.submit-button {
    background-color: transparent;
    position: absolute;
    font-size: 22px;
    color: blueviolet;
    border:none;
    right: 0;
    top:50%;
    transform:translateY(-50%);
}
/*.social-items-container {*/
/*    position:absolute;*/
/*    height: fit-content;*/
/*}*/
/*.social-items-links  {*/
/*    list-style: none;*/
/*}*/

/*.social-items-links li a {*/
/*    color:grey;*/
/*    cursor:pointer;*/
/*}*/

/*.social-items-links li a:hover {*/
/*    color:white;*/
/*}*/
.results h3 {
    width: fit-content;
    padding-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin:auto;

}

.app-container-badges h4 {
    display:flex;
    background: white;
}
.app-container-badges {

    width: fit-content;
    margin:auto;
}

.results-container {
    display:grid;
    border:2px solid red;
    width:80%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    padding: 15px;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    width: 242px;
    height: 442px;
    padding-top:20px;
    text-align: center;
    border:1px solid black;
    border-radius:5px;
    background-color: white;
    position: relative;
    margin:auto;

}

.card-info img {
    width:220px;
    height:220px;
    border-radius:10%;
}
.card-title a {
    text-decoration: none;
}
.card-price {
    color:blue;
}
.card-toolbox {
    position:absolute;
    right:0;
}


.subscribe {
    display:flex;
    border:2px solid red;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 50px auto;
}
.subscribe h5 {
    color:black;
}

.card-badge-box {
    position:absolute;
    color:black;
    font-weight: bold;
    background-color: yellow;
    top:0;
    border:5px solid yellow;
    border-radius: 5px;
}
.grid {

    width:80%;
    display: grid;
    margin-left:auto;
    margin-right:auto;
    border:1px solid white;
    grid-gap:15px;
    padding: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.grid .col {
    border:1px solid red;
}
.col-1-content h1 {
    display:flex;
    color:white;
    font-size:22px;
    margin-left: 3%;
}
.fa-check {
    color:greenyellow;
    margin-right: 5px;
}
.col-1-content-list {
    list-style-type: none;
    margin-top:80px;

}
.col-1-content-list li {
    color:white;
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        font-size:smaller;
    }
    .col-1-content h1 {
        font-size: medium;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .col-1-content h1 {
        font-size:larger;
    }
}
@media screen and (min-width: 1000px) {
    .col-1-content h1 {
        font-size:xxx-large;
    }
}

