.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:blue;
}
.navbar-brand img {
    max-height: 34px;
    width: 100%;
}
.log-in-btn {
    background: transparent;
    max-width: 105px;
    width:105px;
    border:none;
    box-sizing: border-box;
    color: rgb(0, 168, 186);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}
.register-btn {
    background: rgb(0, 168, 186);
    border-radius: 0;
    /*box-shadow: #00A8BA 0 10px 20px -10px;*/
    box-sizing: border-box;
    max-width: 105px;
    width:105px;
    color: #FFFFFF;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    line-height: 14px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}
.register-btn:hover {
    box-shadow: #00A8BA 0 10px 20px -10px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(1.25);
    max-width: 300px;
    padding:20px 30px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius:10px;
    opacity: 0;
    visibility: hidden;
    transition: top 0ms ease-in-out 500ms,
                opacity 500ms ease-in-out 0ms,
                transform 500ms ease-in-out 0ms;
}
.popup.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 500ms ease-in-out 0ms;
}
.popup .close-btn {
    position: absolute;
    top:10px;
    right:10px;
    width: 15px;
    background:transparent;
    color: black;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}
.popup .form h3 {
    text-align: left;
    color:#00A8BA;
    margin:10px 0 20px;
    font-size:25px;
}
.popup .form .form-element {
    margin:15px 0;
}
.popup .form .form-element label {
    font-size: 14px;
    color:#222;
}

.inputs {
    margin-top:5px;
    display: block;
    width: 100%;
    padding:10px;
    border: none;
    border-bottom: 1px dashed gray;
    outline: none;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}
.popup .form .form-element button {
    width:100%;
    height:40px;
    border:none;
    outline:none;
    font-size:15px;
    background: #00A8BA;
    color:#f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color:#1a79ca;
    text-decoration: none;
    font-weight: 600;
}
.popupRegister {
    max-width: 380px;
}

#sucLogin {
    color:green;
    font-weight: bold;
    font-size:14px;
}
#sucRegister {
    color:red;
    font-weight: bold;
    font-size:14px;
}
.message-error {
    color:red;
    font-size: 11px;
}
/*.form p:nth-child(1) {*/
/*    font-size: 10px;*/
/*    font-weight: lighter;*/
/*    color: grey;*/
/*    text-align: center;*/
/*}*/
/*.form p:nth-child(2) {*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    color: darkblue;*/
/*}*/

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}
.navbar-list-links {
font-size:15px;
    /*font-family: "Open Sans",Helvetica,Arial,sans-serif;*/
}
.list-links {
    list-style: none;
}
.list-links a {
    text-decoration: none;
    color: darkslateblue;
}
.la-user {
    font-size:27px;
    color:#0082e6;
    cursor:pointer;
}
.fa-search {
    color:#0082e6;
}
.btn-link {
    z-index: 0 !important;
}
.btn-link:focus {
    outline: none !important;
    box-shadow: none;
}
.fa-heart-o{
    font-size:22px;
    color:#0082e6;
    cursor:pointer;
}
.la-address-book {
    font-size:25px;
    color:#0082e6;
    cursor:pointer;
}
.la-angle-down {
    font-size:10px;
    color:darkgrey;
    cursor:pointer;
}
.la-user-tie {
    font-size: 32px;
    color: #005eb8;
}
.search-box {
   border:1px solid #0082e6;
    border-radius:50px;
 }
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    position: absolute;
    background-color: white;
    min-width: 232px;
    padding:20px;
    border-radius: 7px;
}
.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}
.dropdown-content span {
    font-size: 14px;
}
#termsID {
    text-align: center;
    font-size: 10px;
}
#sucError {
    color:red;
    font-size:14px;
}
.user-dropdown-content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 17px;
}
#usernameDropdown {
   color:rgb(0, 17, 255);
    font-size:17px;
}
.user-dropdown-item {
    cursor:pointer;
    margin-bottom:5px;
    text-decoration: none;
    color:lightgrey;
}
#log-out-user {
    margin-top:20px;
    color:black;
    font-weight: 500;
}

@media screen and (max-width: 592px) {
    .navbar-collapse {
        /*height: 100vh;*/
    }
    .search-box{
        margin-top:27px;
        width:100%;
    }

}
@media screen and (max-width: 996px) {
    .search-box{
        margin-top:10px;
        width:100%;
    }

}