body {
    background: linear-gradient(45deg, black, transparent);
}

.mh-370 {
    max-height: 370px;
}
.mh-240 {
    max-height: 240px;
}
.fs-18 {
    font-size:18px;
}
.r-17 {
    right:17%;
}
.t-55 {
    top:55%;
}
.main-card {
    width: 100%;
    height: auto;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid gold;
    color:white;
}
.secondary-card {
    width: 100%;
    height: auto;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    color:gray;
}
.card-content-box h1 {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
