body {
    background-color: rgb(245, 246, 250);
}
.banner-results .container {
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: box-shadow .3s;
}
.banner-results .container:hover {
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;*/
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}
/*    position:absolute;*/
/*    left:0;*/
/*    bottom:0;*/
/*    border-bottom: 3px solid black;*/
/*    border-left:3px solid black;*/
/*    width:5%;*/
/*    height: 25%;*/
/*    box-sizing: border-box;*/
/*    transition: all .8s ease;*/
/*}*/
/*.product-page-top::after {*/
/*    content:"";*/
/*    position:absolute;*/
/*    right:0;*/
/*    top:0;*/
/*    border-top: 3px solid black;*/
/*    border-right:3px solid black;*/
/*    width:25%;*/
/*    height: 25%;*/
/*    box-sizing: border-box;*/
/*    transition: all .8s ease;*/
/*}*/
.marked-offerts  {
    list-style-type: none;
}
.marked-list a {
    text-decoration: none;
}
.user-functions a {
    text-decoration: none;
}
.rating a {
    text-decoration: none;
}
.lowest-price {
    font-weight: 500;
}
.product-details h1 {
    font-size: 20px ;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}

.tab-content {
    border: 1px solid rgb(233, 233, 233);
    border-radius:5px;
    border-top:none;
    background-color: rgb(255, 255, 255);
}
.rest-offers-content {
    border: 1px solid rgb(233, 233, 233);
    border-radius:5px;
    border-top:none;
    background-color: rgb(255, 255, 255);
}
.best-offer-title h3 {
    max-height: 2.3em;
    overflow: hidden;
    font-size: 0.9em;
    line-height: 1.15em;
    color: #223f95;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.capacity-list {
    list-style: none;
}
.capacity-list-items {
    font-weight: 600;
}
.lowest-price {
    color:black;
}
.lowest-price span {
    color:#ef2809;
}
.product-price-alert {
    list-style: none;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-price-alert a {
    text-decoration: none;
    color:darkgrey;
    font-weight: bold;
}
.fa-exclamation-triangle {
    color:red;
}
.fa-balance-scale {
    color:blue;
}
.fav-ico-results {
    position: absolute;
    right: 0;
    width: fit-content;
    color: red;
    font-size: 28px;
}
.fav-ico-results .active {
    color:black;
}
.products {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 127px;
}
.photos-card {
    width:280px;
    height:360px;
    padding: 2rem 1rem;
    position: relative;
    display:flex;
    justify-content: left;
    box-shadow: 0 7px 10px rgb(0,0,0,0.5);
    transition:0.5s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
}
.photos-card:hover {
    transform:translateY(17px);
}
.photos-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.5s all ease-in-out;
    opacity: 0.5;
}
.photos-card:hover::before {
    opacity:0.8;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    top:0;
    left:0;
}
.rest-offers-content {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.product-btn-site {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 50%;
}
.product-page-top h1 {
    font-size: 24px;
}
.lowest-price {
    font-size:24px;
}

#productLink {
    position: relative;
    width:120px;
    background: #0082e6;
    height:40px;
    line-height: 40px;
    margin-bottom:30px;
    text-align:center;
    color:#fff;
    text-decoration: none;
}
.product-logo {
    background-color: black;
}
.product-log {
    position: absolute;
    top: 25%;
    left: 22%;
}
.product-log img {
    background-color: black;
}
.product-btn-site {
    position: absolute;
    bottom: 10%;
    left: 23%;
}

.align-items-center {
    display: flex;
    justify-content: space-around;
}
/*arrow*/
#productLink:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #0082e6;
}
#productLink:hover {
    box-shadow: #0082e6 0 10px 20px -14px;
}

.product-logo {
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: center;
}
.best-offer-title {
    width: fit-content;
}

.filter {
    position:absolute;
    right:0;
    cursor:pointer;
}
.dropdown-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    position: absolute;
    background-color: white;
    min-width: 232px;
    padding: 20px;
    border-radius: 7px;
}
.dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}
.dropdown-menu li.selected {
    color: #4f5e6f;
    background: #ddd;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 40%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 40%);
}
.dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #4f5e6f;
    white-space: nowrap;
}
.product-page-top button {
    width: fit-content;
    position: absolute;
    right: 20px;
}
.added-to-fav {
    border: 1px solid red;
    position: absolute;
    width: fit-content;
    right: 0;
    top: 37px;
}
#productTitle {
    font-size: 17px;
    font-weight: bold;
    white-space: pre-line;
    text-align: center;
}
.product-page-top .btn-danger {
    outline: none;
    background: white;
    box-shadow: none;
}
#heartIcon {
    color:red;
}
@media screen and (min-width: 355px) and (max-width: 575px) {
    .featured-content {
        margin-top: 119px;
    }
    .product-log {
        position: absolute;
        top: -56%;
        left: 26%;
    }
    .product-btn-site {
        width: 100%;
        position: absolute;
        left: -1%;
        top: -28%;
    }
    #addToFav {
        right: 12%;
        top: 19%;
    }
}
@media (min-width: 768px) {
    .button-51 {
        padding: 16px 32px;
    }
}


@media screen and (max-width: 576px) {
    .btn-warning {
        width:50%;
    }

}