*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round' , sans-serif;
}

body {
    /*background: linear-gradient(45deg, black, transparent);*/
    /*background: radial-gradient(black, transparent);*/
    background-size: cover;
    font-family: monospace;
    width:100%;
}

.mh-370 {
    max-height: 370px;
}
.mh-240 {
    max-height: 240px;
}
.fs-18 {
    font-size:18px;
}
.r-17 {
    right:17%;
}
.t-55 {
    top:55%;
}

.products {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 127px;
}
.card {
    width:280px;
    height:360px;
    padding: 2rem 1rem;
    position: relative;
    display:flex;
    justify-content: left;
    box-shadow: 0 7px 10px rgb(0,0,0,0.5);
    transition:0.5s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
}
.card:hover {
    transform:translateY(17px);
}
.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(188,188,207);
    background: linear-gradient(180deg, rgba(188,188,207,1) 0%, rgba(0,0,0,1) 70%);
    z-index: 2;
    transition: 0.5s all ease-in-out;
    opacity: 0.5;
}
.card:hover::before {
    opacity:0.8;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    top:0;
    left:0;
}
.card-info {
    position:relative;
    z-index:3;
    color:#fff;
    opacity: 0;
    transform:translateY(30px);
    transition: 0.6s all ease-in-out;
    margin-top:65%;     //imp
    margin-right: auto;
}
.card:hover .card-info {
    opacity: 1;
    transform:translateY(0);
}
.card-title {
    font-size:22px;
    letter-spacing: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
}
.rating-number {
    text-decoration: none;
    color:grey;
}
.card-price {
    margin:15px 0;
}

.card-btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: white;
    color:black;
    font-size: 14px;
    font-weight: bold;
    transition:0.4s all ease-in-out;
    border-radius:4px;
}
.card-btn:hover {
    box-shadow: 0 7px 10px rgb(0,0,0,0.5);
}
.card-badge {
    position:absolute;
    top:-165px;
    right:0;
}
.favorite-icon:hover {
   transition:ease-in 2s;

}
.banner-area {
    background: transparent;
}
.search-btn {
    position:absolute;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: transparent;
    color:black;
    font-size: 14px;
    font-weight: bold;
    right:0;
    top:0;
    border:none;
}

.search-form {
    padding:15px;
}

